.App {
  text-align: center;
}

.App-header {
  background-color: rgb(63, 93, 156);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  margin-top: 2em;
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

button {
  padding: 20px;
  margin: 2em;
  outline: none;
  border-radius: 25px;
  border: 1px white solid;
  background: rgb(190, 223, 255);
}

button:hover {
  background-color: rgb(63, 93, 156);
  color: white;
}

hr {
  outline: none;
  border-style: none;
  border: 0.5px solid grey;
}

.weekly-calendar--flex {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 80vw;
  margin: 0 auto;
  padding: 3em;
  flex: 1;
  background: rgb(190, 223, 255);
  margin-bottom: 3em;
  border-radius: 10px;
}

.weekly-calendar--flex > div {
  box-shadow: 4px 7px 18px -5px rgba(0,0,0,0.75);
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  min-height: 5em;
  padding: 2em;
  margin: 1em;
  background: white;
}